.palette-cell {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around;
    padding: 0;
    margin: 8px 0;
}

.palette-cell__color {
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    border: 1px solid #00000055;
    list-style: none;

}

@media screen and (max-width: 820px) {
    .palette-cell__color {
        width: 7px;
        height: 7px;
    }
}