.select__wrapper {
    position: relative;
    width: 100%;
    user-select: none;
}

.select__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid;
    cursor: pointer;
}

.select__header-text {

}

.select__arrow {
    transform: rotate(90deg);
    transition: transform 0.2s;
}

.select__dropdown {
    position: absolute;
    top: 25px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
    padding: 0;
    z-index: 300;
}

.select__option {
    list-style: none;
    cursor: pointer;
    padding: 5px;
}

@keyframes translateX {
    0% {
      transform: translateX(60px);
    }
    
    80% {
      transform: translateX(-5px);
    }
  
    100% {
      transform: translateX(0px);
    }
  }